<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.bank.mapper.LoansMapper">


    <select id="findLoans" resultType="com.dj.bank.pojo.BankLoans">

        SELECT
            bs.id,
            bs.bank_card_id,
            bs.pay_money_all,
            bs.pay_money_month,
            bs.pay_month_number,
            bs.status,
            bs.is_del,
            bc.bank_card_number,
            bu.user_name
        FROM
            bank_loans bs
        LEFT JOIN bank_card bc ON bs.bank_card_id = bc.id
        LEFT JOIN bank_user bu ON bc.user_id = bu.id
        WHERE
            bs.`status` = #{status}

    </select>


    <select id="findRepaymentList" resultType="com.dj.bank.pojo.BankLoans">

         SELECT
                bs.id,
                bs.bank_card_id,
                bc.bank_card_number,
                ba.`name` as user_name,
                bs.pay_money_all,
                bs.pay_money_month,
                bs.pay_month_number,
                bs.repayment_time,
                bs.type
            FROM
                bank_loans bs
            LEFT JOIN bank_card bc ON bs.bank_card_id = bc.id
            LEFT JOIN base_data ba ON bc.type = ba.id
            WHERE
                bc.user_id = #{id}
            AND bs.is_del = #{isDel}

    </select>

    <select id="findDate" resultType="java.lang.Integer">

        SELECT TIMESTAMPDIFF(month, #{repaymentTime}, (select DATE_ADD(curdate(),interval -day(curdate())+1 day)));

    </select>


</mapper>