<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.bank.mapper.TradingRecordMapper">

    <select id="findLoans" resultType="com.dj.bank.pojo.TradingRecord">
        SELECT
            bs.id,
            bu.id AS user_id,
            bu.user_name,
            bc.bank_card_number AS user_card,
            bs.pay_money_all AS deal_money,
            bc.balance AS balance_money,
            bs.`status`,
            bu.phone,
            bc.id as car_id
        FROM
            bank_loans bs
        LEFT JOIN bank_card bc ON bs.bank_card_id = bc.id
        LEFT JOIN bank_user bu ON bc.user_id = bu.id
        WHERE
            bs.id = #{id}


    </select>

    <select id="findTradingByUserTypeAndUserId" resultType="com.dj.bank.pojo.TradingRecord">
        SELECT
            u.user_name AS userName,
            t.id,
            t.user_card,
            t.balance_money,
            t.deal_money,
            t.deal_time,
            t.pay_way
        FROM
            trading_record t
        LEFT JOIN bank_user u ON u.id = t.user_id
            <where>
                <if test="userType == 1">
                    u.id = #{userId}
                </if>
            </where>
    </select>

</mapper>